img {
  width: 200px;
}

body {
  text-align: center;
  font-family: "Arial";
  background: pink;
  color: azure;
}

#link {
    position:fixed;
    bottom:0;
    text-align:left;
    z-index: 200;
  }
